:root {
	// fonts
	--font-family-base: "Inter", sans-serif;
	--font-family-accent: "Sen", sans-serif;

	// colors
	--color-white: #ffffff;
	--color-lavender: #f4f0f8;
	--color-light-grey: #f4f4f4;
	--color-medium-grey: #6d6e76;
	--color-dark-grey: #4c4c4c;
	--color-black: #232536;
	--color-light-yellow: #fbf6ea;
	--color-medium-yellow: #ffd050;
	--color-dark-yellow: #edc14a;
	--color-purple: #592ea9;

	// transition duration
	--transition-duration: 0.2s;
}
